<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
	<title>Insert title here</title>
	
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="test4.css">
	
	<!-- <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script type="text/javascript">   
	$(document).load( function() {
			$("#navBar").load("newsNav.html");  //헤더 인클루드
						 
	});
	</script> -->
	
</head>

<body>
<!-- <div id="navBar"></div> -->
<!-- <%@ include file="newsNav.html" %> -->
<header class="masthead clear">

  <div class="centered">

    <div class="site-branding">
    
      <h1 class="site-title">팁 게시판</h1>
    </div>
    <!-- .site-title -->
  </div>
  <!-- .centered -->
</header>
<!-- .masthead -->

<main class="main-area">

  <div class="centered">

    <section class="cards">

      <article class="card">
      <!-- 동아리 소개 페이지로 이동가능 -->
        <a href="#">
          <figure class="thumbnail">
          <img src="https://cdn.pixabay.com/photo/2021/08/13/12/51/sea-6543041_960_720.jpg" alt="sunset">
          </figure>
          <div class="card-content">
            <h2>물을 아끼는 방법</h2>
            <p>세탁기를 한번 돌릴 때마다 100리터가 넘는 물을 쓰게 된다는 얘기를 접하고 3일에 한 번 하던 세탁을 일주일에 한 번으로 줄였다.</p>
            <p> 속옷이나 스타킹, 티셔츠 같은 작은 빨래는 손빨래로 대체한다. 헹굼물은 따로 양동이에 담아 걸레를 빨거나 베란다나 화장실을 청소할 때 사용한다. 옷에 묻은 얼룩은 손으로 먼저 빤 다음 세탁기에 넣으면 세제 사용량을 줄일 수 있다</p>
          </div>
          <!-- .card-content -->
        </a>
      </article>
      <!-- .card -->

      <article class="card">
        <a href="#">
          <figure class="thumbnail">
            <img src="https://cdn.pixabay.com/photo/2021/08/11/14/22/ice-6538605_960_720.jpg" alt="snow">
          </figure>
          <div class="card-content">
            <h2>전기 사용량 줄이기</h2>
            <p> 절전형 멀티탭을 사용해 대기 전력을 완벽히 차단한다. 대기 전력만 절약해도 매달 10~20% 정도 전기를 절약할 수 있기 때문이다. 휴대폰이나 노트북을 충전하고 나서 플러그를 뽑았는지 반드시 한번 더 확인하는 습관을 들이는 것도 중요하다. </p>
            
          </div>
          <!-- .card-content -->
        </a>
      </article>
      <!-- .card -->

      <article class="card">
        <a href="#">
          <figure class="thumbnail">
            <img src="https://cdn.pixabay.com/photo/2021/07/30/02/19/natural-6508493_960_720.jpg" alt="meow">
          </figure>
          <div class="card-content">
            <h2>야, 너두 할 수 있어</h2>
            <p>어릴 때 살던 집 마당에는 내가 태어났을 때 아버지가 심으셨다는 오동나무가 있었다. 당시의 추억 때문인지 나 역시 커가면서 기념할 만한 일이 있을 때마다 마당과 뒷산에 나무를 심어왔다. 요즘은 서울 근교 수목원에서 시민들을 대상으로 나무심기 행사를 하는 곳도 많아서 아파트에 사는 사람들도 나만의 나무를 심을 수 있다. 직접 나무를 심는 것이 어렵다면 나무심기운동을 하는 환경단체에 기부하는 방법도 있다.</p>
          </div>
          <!-- .card-content -->
        </a>
      </article>
      <!-- .card -->

      <article class="card">
        <a href="#">
          <figure class="thumbnail">
            <img src="https://cdn.pixabay.com/photo/2021/03/15/05/38/girl-6096180_960_720.jpg" alt="meow">
          </figure>
          <div class="card-content">
            <h2>종이 없는 사무실</h2>
            <p>휴대폰 요금 청구서와 카드 이용 내역, 보험금 청구서 등 각종 고지서를 이메일을 통해서 받는다. 이메일 고지서를 신청하면 몇 백원이지만 할인 혜택을 받을 수 있고, 매년 종이 청구서 제조에 들어가는 수십만 그루의 나무를 보호할 수 있다. 회사에서 회의 자료나 결재 문서를 출력하는 대신 이메일이나 공유 폴더를 통해 파일로 주고받아‘ 종이 없는 사무실’을 만든다.</p>
          </div>
          <!-- .card-content -->
        </a>
      </article>
      <!-- .card -->

      <article class="card">
        <a href="#">
          <figure class="thumbnail">
          <img src="https://cdn.pixabay.com/photo/2021/07/21/08/33/lavenders-6482579_960_720.jpg" alt="meow">
          </figure>
          <div class="card-content">
            <h2>어젯밤 이야기</h2>
            <p> 화장실 입구에 스위치 2개가 나란히 있는데 하나는 조명을 켜고, 나머지 하나는 환풍기를 켜는 스위치다. 사실 환풍기를 켤 일이 없는데도 조명 스위치를 켜다가 우연히 함께 누르게 되는 경우가 많았다. 환풍기가 켜져 있는 줄도 모르고 하루 종일 돌아가도록 둔 적도 여러 날이다. 그래서생각한 방법이 환풍기 스위치를 테이프로 고정하는 것이다. 간단한 방법이지만 효과는 의외로 쏠쏠하다.</p>
          </div>
          <!-- .card-content -->
        </a>
      </article>
      <!-- .card -->

      <article class="card">
        <a href="#">
          <figure class="thumbnail">
          <img src="https://cdn.pixabay.com/photo/2021/08/10/10/06/pinwheels-6535595_960_720.jpg" alt="meow">
          </figure>
          <div class="card-content">
            <h2>센스있는 꿀팁</h2>
            <p>수질오염의 원인인 계면활성제가 들어 있지 않은 친환경 세제를 구입하며, 베이킹 파우더와 쌀뜨물, 밀가루, 레몬즙 등 집에 있는 재료를 활용해 되도록 세제를 적게 사용한다. 구두를 닦을 때 레몬즙과 올리브유를 일대일 비율로 섞어서 사용하면 반짝반짝 윤이 난다. 구두를 닦을 때마다 지독한 구두약 냄새 대신 상큼한 레몬 향을 맡을 수 있어서 좋다.</p>
          </div>
          <!-- .card-content -->
        </a>
      </article>
      <!-- .card -->

      <article class="card">
        <a href="#">
          <figure class="thumbnail">
          <img src="http://placekitten.com/808/608" alt="meow">
          </figure>
          <div class="card-content">
            <h2>SNS로 지구 살리기</h2>
            <p>거창한 것 아니면서 많은 사람에게 영향력을 미치고, 돈 드는 것 아니고, 지금 바로 즉각적으로, 어떤 장소에서든지 할 수 있는 그린 약속이 있다면 믿을 수 있는가? 바로 메일이나 문자 끝에 그린 시그너처를 붙이는 일. 예를 들면 ‘Save the Earth!‘’, 매일매일이 당신의 특별한 에코데이‘’, 물이 모자라요. 오늘은 샤워를 5분에 끝내자고요’ 등등 나만의 재기발랄한 에코 멘트를 일주일에 한 번씩 아웃 룩이나 휴대폰에 연계된 메일로 지인들에게 보내보자.</p>
          </div>
          <!-- .card-content -->
        </a>
      </article>
      <!-- .card -->


	 <article class="card">
        <a href="#">
          <figure class="thumbnail">
          <img src="https://cdn.pixabay.com/photo/2021/05/31/14/02/flowers-6298976_960_720.png" alt="meow">
          </figure>
          <div class="card-content">
            <h2>나만의 재활용 꿀팁!</h2>
            <p>인터넷 쇼핑을 자주 하다 보니 집에는 매달 택배상자와 봉투가 넘쳐난다. 택배상자는 계절이 지난 옷을 담는 보관함으로 쓰고, 안쪽에 에어 팩이 붙어 있는 봉투는 모아두었다가 와인이나 유리병을 담을 때 사용한다. 선물받은 상자와 바구니, 리본 역시 따로 보관했다가 선물 포장을 할 때 재활용하면 좋다. 특히 케이크 상자는 직접 만든 케이크를 선물할 때 요긴하게 쓴다. </p>
          </div>
          <!-- .card-content -->
        </a>
      </article>
      <!-- .card -->


	<article class="card">
        <a href="#">
          <figure class="thumbnail">
          <img src="https://cdn.pixabay.com/photo/2021/07/07/16/31/landscape-6394751_960_720.jpg" alt="meow">
          </figure>
          <div class="card-content">
            <h2>생활 속 물 절약 비결</h2>
           <p>한비야의 '지도 밖으로 행군하라'를 읽고 생활 속에서 물 절약을 실천하기로 굳게 마음 먹었다. 가장 먼저 실천에 옮긴 것은 반드시 세숫물을 받고 양치 컵을 사용하는 것이었다. 양치 컵을 사용할 때는 0.6리터의 물을, 사용하지 않을 때는 6리터의 물을 쓰게 된다니, 그 차이는 무려 열 배나 된다. 그리고 또 한 가지 가장 크게 바뀐 습관은 샴푸와 린스의 양을 줄인 것이다. 무심결에 많이 쓰게 되는 샴푸의 양을 반으로 줄이는 대신, 샴푸 전에 충분히 머리카락을 적시고 머리를 감았다. 물론 받아놓은 물을 사용해서 말이다. </p>
          </div>
          <!-- .card-content -->
        </a>
      </article>
      <!-- .card -->
      
      <!-- ========================================== -->
      <article class="card">
        <a href="#">
          <figure class="thumbnail">
          <img src="https://cdn.pixabay.com/photo/2021/05/31/14/02/flowers-6298976_960_720.png" alt="meow">
          </figure>
          <div class="card-content">
            <h2>채식과 환경의 관계</h2>
            <p>일주일에 하루는 채식을 한다. 다큐멘터리를 통해 가축 사육을 위한 녹지 확보를 위해 수천 년 된 고목을 베어버리는 모습을 보고 충격을 받아, 점차 채식을 하는 횟수를 늘리고 있으며 햄버거와 같은 가공육류의 섭취를 줄이고 있다.</p>
          </div>
          <!-- .card-content -->
        </a>
      </article>
      <!-- .card -->
      
      
      <article class="card">
        <a href="#">
          <figure class="thumbnail">
          <img src="https://cdn.pixabay.com/photo/2021/05/31/14/02/flowers-6298976_960_720.png" alt="meow">
          </figure>
          <div class="card-content">
            <h2>회사에서 소소하게 지구 지키기</h2>
            <p>건강과 피부에 좋다는 얘기를 듣고 수시로 물을 마시는데, 사무실 옆에 한 병, 두 병 쌓이는 플라스틱 생수병을 보며 지구에 나쁜 짓을 하고 있다는 죄책감이 들었다. 그래서 생각한 것이 초등학교 시절 가지고 다니던 물병이다. 집에서 물을 가득 채워 와 출근하는 동안 마시고, 회사에 와서는 정수기 물을 담아 마신다.</p>
          </div>
          <!-- .card-content -->
        </a>
      </article>
      <!-- .card -->
      
      
      <article class="card">
        <a href="#">
          <figure class="thumbnail">
          <img src="https://cdn.pixabay.com/photo/2021/05/31/14/02/flowers-6298976_960_720.png" alt="meow">
          </figure>
          <div class="card-content">
            <h2>퇴근할 때 지키는 습관</h2>
            <p>점심시간이나 장시간 자리를 비울 때는 컴퓨터 모니터의 전원을 끈다. 화면보호기가 켜진 상태에서 소비되는 전력량은 컴퓨터를 사용할 때와 별반 차이가 없다. 퇴근할 때는 컴퓨터의 전원이 완전히 꺼졌는지를 확인하고 나서 모니터 전원을 끈다. </p>
          </div>
          <!-- .card-content -->
        </a>
      </article>
      <!-- .card -->
      
    </section>
    <!-- .cards -->
  </div>
  <!-- .centered -->

</main>
</body>

</html>